/* Reseteo de estilos */

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --verydarkgray: hsl(0, 0%, 17%);
    --darkgray: hsl(0, 0%, 59%);
}

html{
    height: 100vh;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    height: 100vh;
}

/* Estilos generales  */

.background{
    margin-top: 0;
    background-image: linear-gradient(to right, rgba(78, 86, 184, 0.4), rgba(107, 141, 245, 0.5));
    background-size: 100%;
    height: 100%;
    width: 100%;
}

header{
    background-image: url(./images/pattern-bg.png);
    height: 300px;
    width: 100%;
}

h1{
    font-weight: 500;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
}

form{
    display: flex;
    justify-content: center;
    outline: none;
    margin: auto;
    margin-top: 25px;
    width: 85%;
}

form input{
    outline: none;
    font-family: 'Rubik', sans-serif;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    padding: 18px 20px 18px 20px;
    border: none;
    max-width: 400px;
}

form button{
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60px;
    background-color: black;
    border: none;
    cursor: pointer;
}

form img{
    height: 13px;
}

form input::placeholder{
    color: var(--verydarkgray);
}

.ipinfo{
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 7.5%;
    width: 85%;
    top: 165px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 25px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(190, 190, 190);
    font-size: 9px;
    font-weight: bold;
}

div{
    margin-top: 20px;
}

p{
    margin-top: 6px;
    font-weight: 700;
    font-size: 18px;
}

.map{
    margin-top: 0;
    z-index: 10;
    height: 75vh;
    width: 100%;
}

.results{
    color: var(--verydarkgray);
    font-weight: 500;
}

/* Media Querys */

@media screen and (min-width: 808px){
    .ipinfo{
    background-color: white;
    display: flex;
    flex-direction: row;
    left: 10%;
    width: 80%;
    text-align: left;
    padding: 0 20px 25px 20px;
    }

    .ipinfo div{
        width: 24%;
    }
}